@import "variables";


body{
	font-family: 'Cabin', sans-serif;
}

.navbar{
	font-size: 1.25em;
	.navbar-brand{
		background: $fire-orange;
		color: $black-grey;
		padding: 0 5px;
		&:hover{
			color: black;
		}
	}
}
